<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head itemref="master.head">
    <title></title>

</head>

    <body>
<!--头部-->
<div class="allcenter">
<div  itemref="master.header"></div>

<div class="box_others_banner">
<img src='/Style/images/about.jpg' />
</div>
<!--关于我们-->
<div class="box_main">
	<div id="box_left">
    	<div id="box_left_sub1">
         
        </div>
<div itemref="master.othermenuView">
</div>
        <!--联系我们-->
        <div class="box_left_sub3">
            <img src='/Style/images/leave_left.jpg' />
        </div>
        <div class="box_left_sub3">
         <img src='/Style/images/contact_left.jpg' />
         </div>
        <!--联系我们-->
    </div>
    <div id="box_right">
    	<div class="box_right_sub1">
        <h3><div class="box_right_sub1_nav_left" id="txtTitle">企业简介</div></h3>
          <div class="box_right_sub1_nav" id="title">
          您现在的位置：首页 > 企业简介
          </div>
        </div>
        <div class="box_right_sub2">  
        <div class="box_right_sub2_title"></div>   
            <div  id="txtBody"> 
     
            </div>
            <div class="box_right_sub2_content" id="photomsg" style="display:none;">

                <div class="goodsItem">
                    <div class="goodsimg">
                        <a href="${ImgUrl}" title="${Title}:${Description}">
                            <img src="${ImgUrl}" />
                        </a>
                    </div>
                </div>

            </div>
            <div class="box_right_sub2_content" id="photoenvioronment" style="display:none;">

                <div class="goodsItemhj">
                    <div class="goodsimghj">
                        <a href="${ImgUrl}" title="${Title}:${Description}">
                            <img src="${ImgUrl}" />
                        </a>
                </div>
                    </div>
            </div>
            </div>
       
    </div>
</div>
  <div itemref="master.footer"></div>

</div>
</body>
</html>
