<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head itemref="master.head">
    <title></title>
</head>

<body>
<div class="allcenter">
<div  itemref="master.header"></div>
<div class="box_others_banner">
<img src='/Style/images/contact.jpg' />
</div>
<div class="box_main">
	<div id="box_left">
    	<div id="box_left_sub1">
         
        </div>
        <div class="box_left_sub2">
        <div id="box_left_sub2_sub1">
       <div class="box_others_title"><strong>联系我们</strong></div>
        
        </div>
        </div>
        <div class="box_left_sub3">
            <img src='/Style/images/leave_left.jpg' />
        </div>
        <div class="box_left_sub3">
         <img src='/Style/images/contact_left.jpg' />
         </div>
    </div>
    <div id="box_right">
    	<div class="box_right_sub1">
       <h3> <div class="box_right_sub1_nav_left">联系我们</div></h3>
          <div class="box_right_sub1_nav">
          您现在的位置：首页 > 联系我们
          </div>
        </div>
        <div class="box_right_sub2">  
        <div class="box_right_sub2_title"></div>   
        <p>江西蓝蜻蜓实业有限公司</p>
        <p>电话：+86 (0)793 <br />
手机：+86-18870336333 <br />
邮箱：info@kingtenblinds.com<br />
地址：江西省德兴市香屯生态工业园区</p>
<iframe src="http://www.google.cn/maps/embed?pb=!1m14!1m8!1m3!1d27919.1616989818!2d117.540332!3d28.990476!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x1a834615b3253b96!2z5rGf6KW_6JOd6Jy76JyT5a6e5Lia5pyJ6ZmQ5YWs5Y-4!5e0!3m2!1szh-CN!2scn!4v1487906325442" width="700" height="500" frameborder="0" style="border:0" ></iframe>          </div>
       
    </div>
</div>
<div itemref="master.footer"></div>
</div>
</body>
</html>
