<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head itemref="masterEn.head">
    <title></title>
</head>
<body>
    <div class="allcenter">

        <div itemref="masterEn.header">
        </div>
        <!--banner 开始-->
        <div class='box_banner'>
            <div class='box_banner_sub1'>
                <div class='box_banner_sub1_sub1'>
                    <ul id="homephoto1">
                        <li><a href="${LinkUrl}"><img src="${ImgUrl}" alt="1" /></a></li>

                    </ul>
                    <ol>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ol>
                </div>
                <!--Luara图片切换骨架end-->
                <script>
                    $(function () {

                        $(".box_banner_sub1_sub1").luara({ width: "470", height: "513", interval: 4500, selected: "seleted", deriction: "left" });

                    });
                </script>
                <div id='box_banner_sub1_sub2'>
                    Special Exhibitions
                </div>
            </div>
            <div id='box_banner_sub2'>
                <div id='box_banner_sub2_sub1'>
                    <div id='box_banner_sub2_sub1_sub1'>
                        <div class="rightfd"><a href="productlist.html" style="color: #333333;">家用</a></div>
                        <div class='sjs1'>
                            <div class="sjsimage"><a href="productlist.html"><img src="/Style/images/de1.jpg" /></a></div>
                            <div class="sjs1title"><a href="productlist.html" style="color: #FFFFFF;">家用</a></div>
                        </div>
                    </div>
                    <div id='box_banner_sub2_sub1_sub2'>
                        <div class="rightfd"><a href="productlist.html" style="color: #333333;">办公</a></div>
                        <div class='sjs2'>
                            <div class="sjsimage"><a href="productlist.html"><img src="/Style/images/de3.jpg" /></a></div>
                            <div class="sjs1title"><a href="productlist.html" style="color: #FFFFFF;">办公</a></div>
                        </div>

                    </div>
                </div>
                <div class="clear:both"></div>

                <div id="box_banner_sub2_sub2">
                    <div id='box_banner_sub2_sub2_sub1'>
                        <div class="rightfd"><a href="productlist.html" style="color: #333333;">公共装饰</a></div>

                        <div class='sjs1'>
                            <div class="sjsimage"><a href="productlist.html"><img src="/Style/images/de3.jpg" /></a></div>
                            <div class="sjs1title"><a href="productlist.html" style="color: #FFFFFF;">公共装饰</a></div>
                        </div>
                    </div>
                    <div id='box_banner_sub2_sub2_sub2'>
                        <div class="rightfd"><a href="productlist.html" style="color: #333333;">更多</a></div>

                        <div class='sjs2'>
                            <div class="sjsimage"><a href="productlist.html"><img src="/Style/images/de4.jpg" /></a></div>
                            <div class="sjs1title"><a href="productlist.html" style="color: #FFFFFF;">更多</a></div>
                        </div>

                    </div>

                </div>
                <div class="clear:both"></div>

            </div>
        </div>

        <!--banner 结束-->
        <!--列版式开始-->
        <div id='box_main'>
            <div id='box_main_sub1'>
                <div id='box_main_sub1_sub1'>
                    <div class="border_01">
                        <div class="border_01-topr">

                            <div class="comptitle_01">
                                <strong class="titlestyle_01">About Us</strong>
                            </div>
                        </div>
                        <p>菏泽华升木制品有限公司公司目前下设五个生产工厂，分别为：家具工厂、百叶窗工厂、板材工厂、建筑装饰线条工厂及透气窗工厂,所生产产品在销往全国各地的同时，并出口美国、日本、韩国...</p>
                    </div>

                </div>
                <div class="clear:both"></div>
                <div id='box_main_sub1_sub2'>
                    <div class="border_01">
                        <div class="border_01-topr">
                            <div class="comptitle_01">
                                <strong class="titlestyle_01">News Center</strong>
                            </div>
                        </div>
                        <p>菏泽华升木制品有限公司公司目前下设五个生产工厂，分别为：家具工厂、百叶窗工厂、板材工厂、建筑装饰线条工厂及透气窗工厂,所生产产品在销往全国各地的同时，并出口美国、日本、韩国...</p>
                    </div>

                </div>
                <div class="clear:both"></div>
                <div id='box_main_sub1_sub3'>
                    <div class="border_01">
                        <div class="border_01-topr">

                            <div class="comptitle_01">
                                <strong class="titlestyle_01">Contact Us</strong>
                            </div>
                        </div>
                        <p>菏泽华升木制品有限公司公司目前下设五个生产工厂，分别为：家具工厂、百叶窗工厂、板材工厂、建筑装饰线条工厂及透气窗工厂,所生产产品在销往全国各地的同时，并出口美国、日本、韩国...</p>
                    </div>

                </div>

            </div>
            <div class="clear:both"></div>

            <div id='box_main_sub2'>
                <div class="border_03">
                    <div class="comptitle_03">
                        <strong class="titlestyle_03"> Products Center</strong>
                        <em><span ><a href="/productlist" class="morelink">more>></a></span></em>
                    </div>


                    <div class="comptitle_04">
                        <ul class="productlist-02" id="homephoto3">
                            <li class='liproductlist'><div class="pic-module"><a href="${LinkUrl}"><img src="${ImgUrl}" alt="1" /></a></div><div class="pro-module"><strong>上下板</strong></div></li>
                           
                        </ul>
                    </div>
                </div>
            </div>
            <div class="clear:both"></div>

            <div id='box_main_sub3'>
                <div id="box_main_sub3_sub1">
                    <div class="comptitle_02">About Us</div>
                    <div class="menu-first">
                        <ul>
                            <div id="othermenuView"><li><a href="${MenuUrl}">${Name}</a></li></div>
                            
                           
                        </ul>
                    </div>
                </div>

                <div id="box_main_sub3_sub2">
                    <div class="comptitle_02">Products Center</div>
                    <div class="menu-first">
                        <ul>
                            <li>企业资源</li>
                            <li>企业资源</li>
                            <li>企业资源</li>
                            <li>企业资源</li>
                            <li>企业资源</li>
                            <li>企业资源</li>
                        </ul>
                    </div>
                </div>
                <div id="box_main_sub3_sub3">
                    <div class="comptitle_02">News Center</div>
                    <div class="menu-first">
                        <ul>
                            <div id="othernewsView"><li><a href="${MenuUrl}">${Name}</a></li></div>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
      
    
    
    <div itemref="masterEn.footer"></div>
    </div>
</body>
</html>
