<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
   <head itemref="master.head">
    <title></title>
</head>


    <body>
            <div class="allcenter">

<div  itemref="master.header"></div>

<div class="box_others_banner">
<img src='/Style/images/world.jpg' />
</div>
<!--关于我们-->
<div class="box_main">
	<div id="box_left">
    	<div id="box_left_sub1">
         
        </div>
        <div class="box_left_sub2">
        <div id="box_left_sub2_sub1">
       <div class="box_others_title"><strong>全球客户</strong></div>
       
        </div>
        </div>
        <!--联系我们-->
        <div class="box_left_sub3">
            <img src='/Style/images/leave_left.jpg' />
        </div>
        <div class="box_left_sub3">
         <img src='/Style/images/contact_left.jpg' />
         </div>
        <!--联系我们-->
    </div>
    <div id="box_right">
    	<div class="box_right_sub1">
        <h3><div class="box_right_sub1_nav_left">全球客户</div></h3>
          <div class="box_right_sub1_nav">
          您现在的位置：首页 > 全球客户
          </div>
        </div>
        <div class="box_right_sub2">  
        <div class="box_right_sub2_title"></div>   
        <table class='box_right_table'><tr><td> 
        <img src='/Style/images/50a4a8d7-d168-43ce-a08b-0bf6e04ea2ea.jpg' />
        <br />
        宜家
        </td>
        <td>
        <img src="/Style/images/949bf443-f2bb-4c7f-8b44-f554dc067951.jpg" />
        <br />
        大连华丰
        </td>
        </tr>
        <tr>
        <td>
      <img src="/Style/images/3d0965d6-791f-4f28-8f96-a7a4f63a1931.jpg" />
      <br />
      光明集团
      </td>
      <td>
      <img src="/Style/images/fda43650-be35-4fc3-a24a-f402c442be5a.jpg" />
      <br />
      迦南
      </td>
      </tr>
      </table>
     </div>
       
    </div>
</div>
    <div itemref="master.footer"></div>
</div>
</body>
</html>
