<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head itemref="master.head">
    <title></title>
</head>


    <body>
<!--头部-->
<div class="allcenter">
<div class='box_header'>
<div class="box_header_top">
<div class="logo"> <a href=""><img src="Assets/images/logo.jpg" alt=""/></a> </div>
<div class="box_totalsearch">
<div class="box_totalsearch_sub1">
<div class="language">
<ul>
<li class="spanwelcome">Welcome to Website! </li>
    <li class="zh"> 中文版</li>
<li class="en"> 英文版</li>
</ul>
</div>
</div>
<div style="clear:both"></div>
<div class="box_totalsearch_sub2">
      <div class="ad"> <span>免运费</span> <span>100％的满意</span> <span>确保适&trade;</span> <span>免费样品</span> </div>
   
<div class="yw_tel">+86-530-6219566</span> </div>
 </div>
</div>
</div>
<div style="clear:both"></div>
<!--导航条-->
<div id="box_nav">
<div id='box_column'>
<div id='box_column_sub1'>
      <ul class="nav-first">
    <li class="first"><a href="index.html">首页</a></li>
    <li class="line">&nbsp;</li>
    <li><a href="about.html">关于蓝蜻蜓</a></li>
    <li class="line">&nbsp;</li>
    <li><a href="newslist.html">新闻中心</a></li>
    <li class="line">&nbsp;</li>
    <li><a href="productlist.html">产品展示</a></li>
    <li class="line">&nbsp;</li>
    <li><a href="items.html">项目案例</a></li>
    <li class="line">&nbsp;</li>
    <li><a href="worldcustomer.html">全球客户</a></li>
    <li class="line">&nbsp;</li>
    <li><a href="invitebusniess.html">招商代理</a></li>
    <li class="last">&nbsp;</li>
    <li><a href="">联系我们</a></li>
  </ul>
  </div>
  </div>
    </div>
</div>
<!--导航条--> 
<!--头部--> 
<!--头部--> 
<div class="box_others_banner">
<img src='Assets/images/about.jpg' />
</div>
<!--关于我们-->
<div class="box_main">
	<div id="box_left">
    	<div id="box_left_sub1">
         
        </div>
        <div class="box_left_sub2">
        <div id="box_left_sub2_sub1">
       <div class="box_others_title"><strong>关于我们</strong></div>
        <ul >
        	<li><span><a href="">企业资源</a></span></li>
            <li><span><a href="">生产环境</a></span></li>
            <li><span><a href="">企业荣誉</a></span></li>
            <li><span><a href="">企业文化</a></span></li>
            <li><span><a href="">使命愿景</a></span></li>
            <li><span><a href="">企业简介</a></span></li>
        </ul>
        </div>
        </div>
        <!--联系我们-->
        <div class="box_left_sub3">
            <img src='Assets/images/leave_left.jpg' />
        </div>
        <div class="box_left_sub3">
         <img src='Assets/images/contact_left.jpg' />
         </div>
        <!--联系我们-->
    </div>
    <div id="box_right">
    	<div class="box_right_sub1">
        <div class="box_right_sub1_nav_left"><h3>企业简介</h3></div>
          <div class="box_right_sub1_nav">
          您现在的位置：首页 > 企业简介
          </div>
        </div>
        <div class="box_right_sub2">  
        <div class="box_right_sub2_title"></div>   
        <p style="text-align:center">  
        <img src="Assets/images/about (2).jpg" />
        </p>
        <p>
       2013年，由上海清婷木业有限公司投资创办的江西蓝蜻蜓实业有限公司坐落于中国江西德兴大茅山经济开发区香屯生态工业园。这是一家集工厂、贸易、进出口为一体的多元化企业,产品可分为木百叶帘、铝百叶帘、竹百叶帘、布帘以及各种窗帘配件产品。
     </p> </div>
       
    </div>
</div>
<!--关于我们-->
<div style="clear:both"></div>

<div class="footer">© 江西蓝蜻蜓实业有限公司 All Rights Reserved.赣ICP备10203277号</div>
</div>
</body>
</html>
