<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head itemref="master.head">
    <title></title>
</head>
<body>
    <div class="allcenter">

        <div itemref="master.header">
        </div>
        <!--banner 开始-->
        <div class='box_banner'>
            <div class='box_banner_sub1'>
                <div class='box_banner_sub1_sub1'>
                    <ul id="homephoto1">
                        <li><a href="${LinkUrl}"><img src="${ImgUrl}" alt="1" /></a></li>

                    </ul>
                    <ol>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ol>
                </div>
                <!--Luara图片切换骨架end-->
                <script>
                     $(function () {

                         $(".box_banner_sub1_sub1").luara({ width: "470", height: "513", interval: 4500, selected: "seleted", deriction: "left" });

                     });
                </script>
                <div id='box_banner_sub1_sub2'>
                    求真务实，诚实守信;质量为本，客户至上
                </div>
            </div>
            <div id='box_banner_sub2'>
                <div id='box_banner_sub2_sub1'>
                    <div id='box_banner_sub2_sub1_sub1'>
                        <div class="rightfd"><a href="productlist.html" style="color: #333333;">家用</a></div>
                        <div class='sjs1'>
                            <div class="sjsimage"><a href="productlist.html"><img src="/Style/images/de1.jpg" /></a></div>
                            <div class="sjs1title"><a href="productlist.html" style="color: #FFFFFF;">家用</a></div>
                        </div>
                    </div>
                    <div id='box_banner_sub2_sub1_sub2'>
                        <div class="rightfd"><a href="productlist.html" style="color: #333333;">办公</a></div>
                        <div class='sjs2'>
                            <div class="sjsimage"><a href="productlist.html"><img src="/Style/images/de3.jpg" /></a></div>
                            <div class="sjs1title"><a href="productlist.html" style="color: #FFFFFF;">办公</a></div>
                        </div>

                    </div>
                </div>
                <div class="clear:both"></div>

                <div id="box_banner_sub2_sub2">
                    <div id='box_banner_sub2_sub2_sub1'>
                        <div class="rightfd"><a href="productlist.html" style="color: #333333;">公共装饰</a></div>

                        <div class='sjs1'>
                            <div class="sjsimage"><a href="productlist.html"><img src="/Style/images/de3.jpg" /></a></div>
                            <div class="sjs1title"><a href="productlist.html" style="color: #FFFFFF;">公共装饰</a></div>
                        </div>
                    </div>
                    <div id='box_banner_sub2_sub2_sub2'>
                        <div class="rightfd"><a href="productlist.html" style="color: #333333;">更多</a></div>

                        <div class='sjs2'>
                            <div class="sjsimage"><a href="productlist.html"><img src="/Style/images/de4.jpg" /></a></div>
                            <div class="sjs1title"><a href="productlist.html" style="color: #FFFFFF;">更多</a></div>
                        </div>

                    </div>

                </div>
                <div class="clear:both"></div>

            </div>
        </div>

        <!--banner 结束-->
        <!--列版式开始-->
        <div id='box_main'>
            <div id='box_main_sub1'>
                <div id='box_main_sub1_sub1'>
                    <div class="border_01">
                        <div class="border_01-topr">

                            <div class="comptitle_01">
                                <strong class="titlestyle_01">关于我们</strong>
                            </div>
                        </div>
                        <p>2013年，由上海清婷木业有限公司投资创办的江西蓝蜻蜓实业有限公司坐落于中国江西德兴大茅山经济开发区香屯生态工业园。这是一家集工厂、贸易、进出口为一体的多元化企业,产品可分为木百叶帘、铝百叶帘、竹百叶帘、布帘以及各种窗帘配件产品</p>
                    </div>

                </div>
                <div class="clear:both"></div>
                <div id='box_main_sub1_sub2'>
                    <div class="border_01">
                        <div class="border_01-topr">
                            <div class="comptitle_01">
                                <strong class="titlestyle_01">新闻中心</strong>
                            </div>
                        </div>
                        <p>暂无</p>
                    </div>

                </div>
                <div class="clear:both"></div>
                <div id='box_main_sub1_sub3'>
                    <div class="border_01">
                        <div class="border_01-topr">

                            <div class="comptitle_01">
                                <strong class="titlestyle_01">联系我们</strong>
                            </div>
                        </div>
                        <p>电话: +86-18870336333  </p>
                        <p>Email:info@kingtenblinds.com</p>
                    </div>

                </div>

            </div>
            <div class="clear:both"></div>

            <div id='box_main_sub2'>
                <div class="border_03">
                    <div class="comptitle_03">
                        <strong class="titlestyle_03">产品展示</strong>
                        <em><span ><a href="/productlist" class="morelink">more>></a></span></em>
                    </div>


                    <div class="comptitle_04">
                        <ul class="productlist-02" id="homephoto3">
                            <li class='liproductlist'><div class="pic-module"><a href="${LinkUrl}"><img src="${ImgUrl}" alt="1" /></a></div><div class="pro-module"><strong>${PhotoName}</strong></div></li>
                           
                        </ul>
                    </div>
                </div>
            </div>
            <div class="clear:both"></div>

            <div id='box_main_sub3'>
                <div id="box_main_sub3_sub1">
                    <div class="comptitle_02">关于我们</div>
                    <div class="menu-first">
                        <ul>
                            <div id="othermenuView"><li><a href="${MenuUrl}">${Name}</a></li></div>
                            
                           
                        </ul>
                    </div>
                </div>

                <!--<div id="box_main_sub3_sub2">
                    <div class="comptitle_02">产品展示</div>
                    <div class="menu-first">
                        <ul>
                            <li>企业资源</li>
                            <li>企业资源</li>
                            <li>企业资源</li>
                            <li>企业资源</li>
                            <li>企业资源</li>
                            <li>企业资源</li>
                        </ul>
                    </div>
                </div>-->
                <div id="box_main_sub3_sub3">
                    <div class="comptitle_02">新闻中心</div>
                    <div class="menu-first">
                        <ul>
                            <div id="othernewsView"><li><a href="${MenuUrl}">${Name}</a></li></div>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
      
    
    
    <div itemref="master.footer"></div>
    </div>
</body>
</html>
